
@{
                /**/

                ViewBag.Title = "ChangePassword";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scriptHead{
    <script type="text/javascript">
        $(document).ready(function () {

            jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
            });
            $("#formChangePassword").validate({
                rules: {
                    iNewPassword: {
                        required: true,
                        minlength: 6
                    },
                    iNewPasswordConfirm: {
                        required: true,
                        minlength: 6,
                        equalTo: '#txtCPNewPassword'
                    }
                }
            });
        });
    </script>
}

<h2>ChangePassword</h2>
<hr />
<form id="formChangePassword" action="@Url.Action("ChangePasswordEdit", "User")" method="post">
    <div class="form-group row">
        <label class="col-sm-2 font-weight-bold text-right">New Password</label>
        <div class="col-sm-5">
            <input type="password" id="txtCPNewPassword" name="iNewPassword" class="form-control" placeholder="New Password" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 font-weight-bold text-right">Confirm New Password</label>
        <div class="col-sm-5">
            <input type="password" id="txtCPNewPasswordConfirm" name="iNewPasswordConfirm" class="form-control" placeholder="Confirm New Password" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-4">
            <button type="submit" id="btnCPSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
