@model IEnumerable<NGKBusi.Models.Users>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<ul>
    @foreach (var item in Model)
    {
        foreach (var item2 in item.Users_Apps_Roles)
        {
            <li>@Html.DisplayFor(m => item2.Roles.name)</li>
        }
    }
</ul>*@


