
@{
    ViewBag.Title = "Add External Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: sans-serif;
    }

    a {
        color: #369;
    }

    .box {
        width: 485px;
        float: left;
    }

    .note {
        width: 500px;
        margin: 50px auto;
        font-size: 1.1em;
        color: #333;
        text-align: justify;
    }

    #drop-area {
        position: relative;
        border: 2px solid #ccc;
        width: 300px;
        height: 280px;
        overflow: hidden;
        margin-bottom: 10px;
    }

        #drop-area .controll-panel {
            position: absolute;
            bottom: 0;
            right: 0;
        }

            #drop-area .controll-panel .item {
                display: inline-block;
                padding: 10px;
                cursor: pointer;
                background-color: #23232360;
            }

                #drop-area .controll-panel .item i {
                    color: #fff;
                }

        #drop-area label {
            margin-bottom: 0;
            height: 100%;
            width: 100%;
            display: block;
        }

        #drop-area .uploadIcon {
            border: none;
            height: 100%;
        }

            #drop-area .uploadIcon i {
                margin: 0 auto;
                display: block;
                width: 60px;
                position: relative;
                top: 45%;
            }

        #drop-area.highlight {
            border-color: purple;
        }

    .my-form {
        margin-bottom: 10px;
    }

    #gallery {
        height: 100%;
    }

        #gallery img {
            vertical-align: middle;
            width: 100%;
        }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

        .button:hover {
            background: #ddd;
        }

    #fileElem {
        display: none;
    }

    #sendForm {
        width: 100%;
    }

        #sendForm .areapaste input {
            padding-left: 10px;
            width: 320px;
            height: 35px;
            font-size: 16px;
        }

    /*_______________*/
    #details_img {
        padding: 20px;
        float: left;
        width: 630px;
    }

        #details_img .list .item {
            margin-bottom: 10px;
        }

            #details_img .list .item .attr {
                width: 120px;
            }

            #details_img .list .item .attr,
            #details_img .list .item .data {
                display: inline-block;
            }

    #container-image .container {
        width: 200px;
        display: inline-block;
    }
</style>

<link href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" rel="stylesheet">

<script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.js")"></script>

<div class="row">
    <div class="col-sm-12">
        
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-header bg-primary">
                    <a href="@Url.Action("DataMatProm", "MatProm", new { area = "Marketing" })" data-tooltip="Previous Pagge" class="btn btn-sm btn-outline-light mr-2" title="Previous Page">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    Add External Item
                </div>
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                    <form action="@Url.Action("AddExternalItem", "MatProm", new { area = "Marketing" })" id="formAddExternalItem" name="formAddExternalItem" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="userRequest" value="" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="selItem">ITEMID</label>
                                <input name="ITEMID" type="text" class="form-control" value="" />
                                <input type="hidden" name="ITEMID" value="" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="selItem">Item Category</label>
                                <input type="text" name="ProductCategory" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Name</label>
                                <input type="text" name="ProductName" class="form-control" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Group</label>
                                <input type="text" name="ItemGroup" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Item Description</label>
                                <input type="text" name="ItemDescription" class="form-control" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Stock Available</label>
                                <input type="text" name="FirstStock" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtQuantity">Weight</label>
                                <input type="text" name="Weight" class="form-control" value="">
                            </div>
                            <div class="form-group col-md-6">
                                
                            </div>
                        </div>

                        <div class="form-row">

                        </div>

</div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" id="btnSaveItem">Save</button>
                    
                    <button type="reset" class="btn btn-default">Back</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var validateAddExternalItem =
        $("form[name='formAddExternalItem']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                ITEMID: {
                    required: true
                },
                ProductCategory: {
                    required: true
                },
                ProductName: {
                    required: true
                },
                ItemDescription: {
                    required: true
                },
                FirstStock: {
                    required: true
                },
                Weight: {
                    required: true
                }

            },
            // Specify validation error messages
            messages: {
                ITEMID: {
                    required: "Enter Item ID"
                },
                ProductCategory: {
                    required: "Enter Product Category"
                },
                ProductName: {
                    required: "Enter Product Name"
                },
                ItemDescription: {
                    required: "Enter Item Description"
                },
                FirstStock: {
                    required: "Enter Firs Stock"
                },
                Weight: {
                    required: "Enter Weight"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                $.ajax({
                    url: $('#formAddExternalItem').attr('action'),
                    type: "POST",
                    cache: false,
                    data: $('#formAddExternalItem').serialize(),
                    dataType: 'json',
                    success: function (json) {
                        if (json.status == 1) {
                            swal({ title: " Success!", text: "Save Success.", type: "success" },
                                function () {
                                    location.reload();
                                });
                        }
                        else {
                            swal("Failed!", "Failed save to database.", "error");
                        }
                    }
                });
            }
        });

    $('#btnSaveItem').click(function () {
        validateAddExternalItem.form();

    });
</script>