
@{
    ViewBag.Title = "GeneralLedgerDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scriptHead{
    <script type="text/javascript">
        $(document).ready(function () {
            window.close();
        });
    </script>
}

<h2>General Ledger Deleted</h2>

