
@{
    ViewBag.Title = "Index";
    ViewBag.SideMenuHeader = "Labor Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sideMenu{
    @Html.Partial("../Shared/_SideMenuPartialLaborCost")
}
<h2>Labor Cost</h2>

