@using NGKBusi.Areas.HSE.Controllers;

@{
    ViewBag.Title = "Worker Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formSIK = ViewBag.FormSIK;
    var SIK = ViewContext.Controller as SIKController;
}

<h2>SIK Online Permit</h2>
<hr />  
<div id="divWorkerProfile" class="container">
    <div class="row text-center">
        <div class="profileWrapper offset-lg-2 col-lg-8">
            <div id="workerPics" class="mb-4">
                <img src="@("/NGKbusi/Files/HSE/SIK/FormSubmit/" +formSIK.ID + "/206854.png" )" />
            </div>
            <h2>
                @(formSIK?.Third_Party_Name)
            </h2>
            <br />
            <h3 class="font-weight-light">Test 2</h3>

            <div class="sikStatus">
                <button type="button" class="btn btn-@(formSIK?.Approval == 1 ? "warning" : "success") form-control">@SIK.ApprovalStatus(formSIK?.Approval)</button>
            </div>
        </div>
    </div>
</div>