<html>
<head>
    <title>Qr Code Generate Tools</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

    <style>
        div.containerQR {
            margin-left: 5px;
            display: inline-block
        }
        div.textQr {
           font-family:'Trebuchet MS', sans-serif;  
           text-align:center
        }
    </style>

</head>
<body align="center">
    @foreach (var items in ViewBag.ItemList)
    {
        <div class="containerQR" style="margin-bottom:10px; margin-left:10px;" >
            <table width="100%" border="1" style="table-layout: fixed; border-collapse:collapse; border:1px solid black; width:7cm; height:1.2cm">
                <tr>
                    <td width="21%" rowspan="2" style="padding-left:15px;padding-bottom:10px;"><div class="qrcode" style="font-size:10px" data-nya="@items.ITEMID"></div></td>
                    <td width="77%" style="word-wrap: break-word; font-size:14px;font-family:Arial;font-weight:bold" align="center">@items.ITEMID</td>
                </tr>
                <tr>
                    <td width="75%" style="word-wrap: break-word; font-size: 12px; font-family: Arial; font-weight: bold" align="center">@items.ProductName</td>
                </tr>
            </table>
        </div>
    }
          
        <script type="text/javascript">
            $(".qrcode").each(function () {
                $(this).qrcode(
                    { width: 47, height: 47, text: $(this).data('nya') }

                );
            });

        </script>

    </body>
</html>

