@using System.Security.Claims
@using Microsoft.AspNet.Identity;

<!-- Sidebar -->
<ul>
    <li class="navSubChild navSubChildHeader">
        <span>Master</span>
    </li>
    <li class="navSubChild">
        <a href="@Url.Action("Index","MachineDatabase",new { area="MTN" })">Machine List</a>
    </li>
    <li class="navSubChild">
        <a href="@Url.Action("MaintenanceSchedule","MachineDatabase",new { area = "MTN" })">Maintenance Schedule</a>
    </li>
    <li class="navSubChild navSubChildHeader">
        <span>Report</span>
    </li>
    <li class="navSubChild">
        <a href="@Url.Action("Overhaul","MachineDatabase",new { area = "MTN" })">Overhaul</a>
    </li>
</ul>

<!-- /#sidebar-wrapper -->
