@using System.Security.Claims;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Requestion Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currUser = (ClaimsIdentity)User.Identity;
    var currUserID = currUser.GetUserId().Trim();
}

<h2>Requestion Sheet - TL</h2>
<hr />