
@{
    ViewBag.Title = "TransactionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scriptHead{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "https://api.gift.id/v1/m-integration/insight/transaction_list",
                method: "POST",
                dataType: 'json',
                tryCount: 0,
                tryLimit: 3,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "Authorization": "Basic " + btoa("9Z1rmDcfutDsE37q5uFNfZG9E" + ":" + "vRlkclV61mCpXLClhI3w2XnmnQESO7GPIBIetavJzbFadjl5nU")
                },
                data: JSON.stringify({
                    "page": "1",
                    "perPage": "1000"
                })
                , success: function (data) {
                    console.log(data);
                }, error: function (xhr, textStatus, errorThrown) {
                    alert("Error Occurred, Please Try Again.");
                }
            });
        });
    </script>
}

<h2>TransactionList</h2>

