
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit</h2>
<form method="post" action="@Url.Action("Save","ExtNumber")">

    @foreach (var item in ViewBag.pageContent)
    {
        <textarea id="txtEditExt" name="iContent" class="txtTinyMCE" rows="20">@(HttpUtility.HtmlDecode(@item.pageContent))</textarea>
    }
    <button type="submit" id="btnSubmit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
</form>


