<div class="modal fade" id="@ViewBag.modelId" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="5" name="iBTNote" placeholder="Please give your reason.." @(ViewBag.message != null ? "readonly": "required" )>@(ViewBag.message ?? "")</textarea>
            </div>
            @if (ViewBag.btnType != null)
            {
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" name="btnType" value="@ViewBag.btnType">OK</button>
                </div>
            }
        </div>
    </div>
</div>
