@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_SideMenuPartial";
    var currUser = ((ClaimsIdentity)User.Identity);
}

<!-- Sidebar -->
<ul>
    <li class="navSubChild">
        <a href="@Url.Action("List","ServiceRequest",new { area = "IT" })"><span>My Service Request</span></a>
    </li>
    <li class="navSubChild">
        <a href="@Url.Action("Queue","ServiceRequest",new { area = "IT" })"><span>Queue</span></a>
    </li>
    @if (currUser.FindFirst("deptID") != null && currUser.FindFirst("deptID").Value == "07")
    {
        <li class="navSubChild">
            <a class="itReportLink" href="@Url.Action("Report","ServiceRequest",new { area = "IT" })"><span>Report</span></a>
        </li>
    }
</ul>
<!-- /#sidebar-wrapper -->
