
@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_SideMenuPartial";
    var currUser = ((ClaimsIdentity)User.Identity);
    string CurrentURL = Request.Url.AbsoluteUri;
}

<!-- Sidebar -->
<nav class="navbar navbar-inverse " id="sidebar-wrapper" role="navigation" style="margin-top:10px;">
    <ul class="nav navbar-nav">
        @*@if (currUser.FindFirst("SectionID") != null && currUser.FindFirst("SectionID").Value == "20")
        {*@
        @if (CurrentURL.Contains("OCD"))
        {
            <li>
                <a href="@Url.Action("DataList","OCD",new { area = "Kaizen" })">Kaizen Data</a>
            </li>
        }
        else if (CurrentURL.Contains("KOC"))
        {
            <li>
                <a href="@Url.Action("DataList","KOC",new { area = "Kaizen" })">Kaizen Data</a>
            </li>
        }
        else
        {

            <li>
                <a href="@Url.Action("DataList","SC",new { area = "Kaizen" })">Kaizen Data</a>
            </li>
        }

                @*}*@
    </ul>
</nav>

<!-- /#sidebar-wrapper -->
