@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Forbidden";
}

<h1 class="text-danger">We're sorry, but you do not have access to this page.</h1>
<h2 class="text-danger">Please @Html.ActionLink("log in", "Login", "User", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" }) with authorized user to continue.</h2>


