
@using System.Security.Claims
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_SideMenuPartial";
    var currUser = ((ClaimsIdentity)User.Identity);
}

<!-- Sidebar -->
<ul>
    @*@if (currUser.FindFirst("SectionID") != null && currUser.FindFirst("SectionID").Value == "20")
        {*@
    <li class="navSubChild">
        <a href="@Url.Action("Appendix","NumberingSystem",new { area = "PE" })">Appendix</a>
    </li>
    <li class="navSubChild">
        <a href="@Url.Action("DocInit","NumberingSystem",new { area = "PE" })">Document Init</a>
    </li>
    @*}*@
    <li class="navSubChild">
        <a class="peNSLink" href="@Url.Action("Index","NumberingSystem",new { area = "PE" })">Numbering List</a>
    </li>
</ul>

<!-- /#sidebar-wrapper -->
